.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    > h1 {
      font-size: 35px;
      font-weight: 700;
      color: aliceblue;
      margin: 0;
    }
  }
}
